@import "normalize";
@import "colors";
@import "styles";
@import "photoswipe/photoswipe";
@import "photoswipe/photoswipe-dynamic-caption-plugin";
@import "custom";

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

img.lazyload:not([src]) {
  visibility: hidden;
}

img {
  border-radius: 8px;
  overflow: hidden;
}

.title-logo {
  width: 100px;
  height: auto;
  position: absolute;
  top: 24px;
  left: 20px;
  pointer-events: none;
}

html.dark .title-logo {
  filter: invert(1);
}